* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 1rem 0.5rem;
  &:hover {
    cursor: pointer;
  }
}

body {
  nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        text-decoration: none;
      }
    }
  }
}
